@page
@model lab5.Pages.Authors.EditModel

<h1>Edit authors</h1>
<form method="post">
	<input asp-for="author.ID" hidden />
	<div class="form-group row">
		<label>First Name</label>
		<div class="col-sm-10">
			<input asp-for="author.FirstName" />
			<span asp-validation-for="author.FirstName"></span>
		</div>
	</div>
	<div class="form-group row">
		<label>Last Name</label>
		<div class="col-sm-10">
			<input asp-for="author.LastName" />
			<span asp-validation-for="author.LastName"></span>
		</div>
	</div>
	<div class="col-sm-10 pt-2">
		<button type="submit">Edit person</button>
	</div>
</form>